.recipe {
    background-color: pink;
    text-align: center;
}
#chiffon {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#crepes {
    color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#toast {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: bold;
    color: orange;
    font-family: 'Courier New', Courier, monospace;
}